body {
}

.grid {
	display: grid;
	position: absolute; height: 100%; width: 100%;
}

.musaicum {
  line-height: 0;
	background: url(../musaicum.ico);
}

.musaicum.background {
  position: absolute;
	width: 100%;
	overflow: hidden;
}

.musaicum.background * {
  position: relative;
	min-height: 100%; min-width: 100%;
}

.musaicum.hidden {
  height: 0; width: 0; overflow: hidden;
}
